<div class="text-center p-5">

    <div class="text-center m-2 nes-container is-rounded">

        <h5 class="text-center m-2 nes-container is-rounded" ><a href="/post/{{id}}">{{post_name}}</a></h5></br>
        
        <p class="text-center m-2 nes-container is-rounded">{{post_data}}</p></br> 

        <h6 class="nes-text is-error">Posted by:</h6>

        <h6>{{user.name}} on {{format_date date_created}}</h6>

    </div>
   
</div>